* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --red-hat-font-family: "Red Hat Dsiplay", sans-serif;
}

p {
  font-family: var(--red-hat-font-family);
}
h1 {
  font-family: var(--red-hat-font-family);
  font-size: 25px;
  text-align: center;
  color: hsl(183, 100%, 15%);
  letter-spacing: 4px;
  padding-bottom: 30px;
}
h3 {
  font-family: var(--red-hat-font-family);
  color: hsl(185, 41%, 84%);
  font-size: 10px;
  letter-spacing: 2px;
  line-height: 20px;
}

body {
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
  margin: auto;
  width: 35%;
  padding-top: 10%;
}

.calc {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
}
.calc_left {
  width: 46%;
}

.calc_paragraph {
  font-size: 12px;
  font-weight: 900;
  color: hsl(183, 100%, 15%);
  padding-bottom: 5px;
  padding-top: 20px;
  letter-spacing: 2px;
}

.calc_button {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
.calc_percent {
  font-size: 15px;
  font-family: var(--red-hat-font-family);
  color: white;
  background-color: hsl(183, 100%, 15%);
  padding: 5px 14px 5px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.calc_percent:active {
  background-color: hsl(183, 42%, 54%);
}
.calc_custom {
  font-size: 15px;
  font-family: var(--red-hat-font-family);
  color: hsl(183, 100%, 15%);
  background-color: hsl(185, 41%, 84%);
  padding: 5px 12px 5px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#bill {
  text-align: right;
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  color: hsl(183, 100%, 15%);
  font-family: var(--red-hat-font-family);
  font-weight: bold;
  font-size: 15px;
  background-color: hsl(190, 23%, 95%);
  background-image: url("./images/icon-dollar.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: none;
}
#people {
  text-align: right;
  width: 100%;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  color: hsl(183, 100%, 15%);
  font-family: var(--red-hat-font-family);
  font-size: 15px;
  font-weight: bold;
  background-color: hsl(190, 23%, 95%);
  background-image: url("./images/icon-person.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: none;
}

.calc_right {
  background-color: hsl(183, 100%, 15%);
  width: 50%;
  border-radius: 10px;
}
.calc_right_p {
  color: hsl(185, 16%, 69%);
  font-size: 8px;
  letter-spacing: 2px;
}
.text1,
.text2 {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.right_p {
  color: hsl(183, 42%, 54%);
  font-size: 30px;
  letter-spacing: 3px;
}
.calc_butt {
  text-align: center;
  align-content: center;
  margin-top: 55px;
}
.calc_res {
  width: 70%;
  border: none;
  background-color: hsl(183, 42%, 54%);
  color: hsl(183, 100%, 15%);
  font-size: 17px;
  font-weight: 900;
  font-family: var(--red-hat-font-family);
  padding: 10px;
  border-radius: 10px;
}
.calc_res:hover {
  background-color: white;
  color: hsl(183, 100%, 15%);
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  body {
    width: 100%;
    text-align: center;
  }
  .calc {
    text-align: center;
    background-color: white;
    display: block;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .calc_left {
    width: 100%;
  }
  .calc_right {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
  }
  .calc_button {
    grid-template-columns: auto auto;
    grid-gap: 15px;
  }
  .calc_percent {
    padding: 10px 14px;
  }
  .calc_paragraph {
    margin-top: 10px;
  }
  .calc_butt {
    margin-top: 62px;
  }
}
